layout {
    pane split_direction="vertical" {
        pane {
            command "nvim"
            args "src/main.rs"
        }
        pane {
            command "cargo"
            args "test"
        }
    }
}
